## 1. Explain the key features of Python that make it a popular choice for programming.

Python is a very easy to use programming language and has multiple features which makes it unique.
Here are some key features of python that makes it popular choice for programming:-
1. Simplicity: It is very widely used because of its simplicity. It has very clean and straightforward syntax.
2. Multifunctional: It is a multifunctioning programming language which gives developers the opportunity to tackle various projects.
3. Libraries: It comes with a very large number of libraries which provides us many ready to use modules and it reduces the burden of the user.
4. Ease of learning: It's simple programming language makes it very easy to learn compared to other programming languages.
5. Huge active comminity: Python has very large active community which makes it easier to find solution, libraries and frameworks.

## 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Predefined keywords in Python are unique characters that have a specific meaning and purpose in the language.
They help us to perform various tasks and calculations in the program.
Here are some examples of how they are used in a program:-

In [21]:
# "=" This is used to assign value to a variable.
# "+" This is used to add two values.
a = 4
b = 6
a+b

10

In [10]:
#Used for conditional statements
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is greater than 5

In [18]:
# for printing a range of data
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## 3. Compare and contrast mutable and immutable objects in Python with examples.

In Python, objects are classified as mutable or immutable based on whether their values can be modified after creation. 
Mutable Objects
- These objects can be changed after their creation. You can modify, add, or remove elements without creating a new object.
- Examples: Lists, dictionaries, sets.

In [21]:
# Mutable example using a list
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [23]:
my_list.append(4)  # Modify the list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [25]:
my_list.remove(1) # Remove 1 from the list
print(my_list)

[2, 3, 4]

Immutable Objects
- These objects cannot be changed after their creation. Any modification results in the creation of a new object.
- Examples: Integers, floats, strings, tuples.

In [29]:
# Immutable example using a string
my_string = "hello"
new_string = my_string + " world"  # Concatenate strings
print(new_string)  # Output: "hello world"
print(my_string)  # Output: "hello" (original string remains unchanged)
# Here, modifying the string generates a new object, leaving my_string intact.

hello world
hello

## 4. Discuss the different types of operators in Python and provide examples of how they are used.

Python provides various operators to perform various operations on values and variables.

Here are some examples of how they are used:
### 1. Artihmetic Operators
    These are used to perform mathematical calculations.
    '+'  Addition            |5 + 3 = 8   |
    '-'  Subtraction         |5 - 3 = 2   |
    '*'  Multiplication      |5 * 3 = 15  |
    '/'  Division            |15 / 3 = 3  |
    '%'  Modulus (remainder) |5 % 3 = 2   |
    '**' Exponential         |5 ** 3 = 625|
    '//' Floor Division      |5 // 2 = 2  |

### 2. Comparison Operators
    These operators are used to compare two values and they return a boolean value (True or False)
    `==`  | Equal to               | `5 == 3` → `False` |
    `!=`  | Not equal to           | `5 != 3` → `True`  |
    `>`   | Greater than           | `5 > 3` → `True`   |
    `<`   | Less than              | `5 < 3` → `False`  |
    `>=`  | Greater than equal to  | `5 >= 3` → `True`  |
    `<=`  | Less than equal to     | `5 <= 3` → `False` |

### 3. Logical Operators
    These are used to combine conditional statements.
    `and`     | Logical AND    | `(5 > 3) and (3 > 1)` → `True` |
    `or`      | Logical OR     | `(5 > 3) or (3 < 1)` → `True`  |
    `not`     | Logical NOT    | `not(5 > 3)` → `False`         |

### 4. Assignment Operators
    `=`   | Assign                   | `x = 5`          |
    `+=`  | Add and assign           | `x += 3` (same as `x = x + 3`) |
    `-=`  | Subtract and assign      | `x -= 3`         |
    `*=`  | Multiply and assign      | `x *= 3`         |
    `/=`  | Divide and assign        | `x /= 3`         |

### 5. Bitwise Operators
    `&`          | AND            | `5 & 3` → `1`   |
    `|`          | OR             | `5 | 3` → `7`   |
    `^`          | XOR            | `5 ^ 3` → `6`   |
    `~`          | NOT            | `~5` → `-6`     |
    `<<`         | Left shift     | `5 << 1` → `10` |
    `>>`         | Right shift    | `5 >> 1` → `2`  |

### 6. Membership Operators
    `in`         | Checks if in      | 'a' in 'apple' → `True`  |
    `not in`     | Checks if not in  | 'x' not in 'apple' → `True`|

## 5. Explain the concept of type casting in Python with examples.

Type casting in Python refers to converting one data type to another, enabling us to work with data in the desired form. Here are some examples of the type casting supported by python:

There are two types of type casting:
- Implicit type casting >> This type of data is automatically understood by python.

In [9]:
# Examples of Implicit Type Casting:
a = 5
type(a) # Here pythond will automatically take 5 as an integer.

int

In [11]:
b = 5.5
type(b) # Here python will automatically take 5.5 as a float.

float

In [13]:
c = True
type(c) # Here python will automatically take True as a boolean value.

bool

In [22]:
d = "Mukesh"
type(d) # It will be taken as string automatically.

str

In [24]:
e = "100"
type(e) # It will also be taken as string.

str

- Explicit Type Casting >> This type casting helps developers to convert datatypes with the help of inbuilt function.

eg of explicit type casting:
int()    Convert data into integers but data has to be numbers form. It will show error if we try to convert alphabets into int.
float()  Convert data into float but this function also doesn't support alphabets.
bool()   Convert data into boolean value i.e., True or False. It will give '0 as False' and 'Any value other than zero as True.'
str()    Convert data into string.

In [38]:
# Examples of Explicit Type Casting
type(int(b))

int

In [40]:
type(str(b))

str

In [42]:
str(c)

'True'

In [44]:
int(c)

1

## 6. How do conditional statements work in Python? Illustrate with examples.

Conditional statements in Python are used to perform different actions based on different conditions. They evaluate whether a certain condition is true or false and execute code accordingly. Python supports the following types of conditional statements:
#### if >> It executes a block of code if the condition is true otherwise it doesn't run the code.
#### if else >> Executes a block of code if the condtion is true otherwise it executes the other block of code.
#### if elif else >> Executes multiple block of codes depending on the conditions. We can put multiple conditions in elif block.
#### nested if >> Executes conditional statements within other conditional statements.

In [72]:
# if
x = 15 # if we put 10 or less here this function will not be executed.
if x > 10:
    print("x is greater than 10")

x is greater than 10

In [74]:
# if else
x = 5 # if we put 10 or above here it will execute the funciton written in the else block.
if x > 10:
    print("x is greater than 10")
else:
    print("x is less than or equal to 10")

x is less than or equal to 10

In [78]:
# if elif else
score = 70
if score >= 90:
    print("Grade A") # Grade A will be printed if the score is 90 and above.
elif (80 <= score < 90):
    print("Grade B") # Grade B will be printed if the score is equal or greater than 80 and below 90.
elif (70 <= score < 80):
    print("Grade C") # Grade C will be printed if the score is equal or greater than 70 and below 80.
else:
    print("Grade D") # Grade D will be printed if the score is less than 70.

Grade C

In [80]:
# nested if
x = 1
if x > 0:
    if x % 2 == 0:
        print("x is a natural number and is even") # if both conditons are satisfied this block will be executed.
    else:
        print("x is an odd number") # if only first condition is satisfied than this block will be executed.
else:
    print("x is either 0 or negative") # if none of the conditions are satisfied than this block will be executed.

x is an odd number

## 7. Describe the different types of loops in Python and their use cases with examples.

#### Loops are used to repeadly execute a block of code until the condition is satisfied.
Python has two main types of loops:
- `for` Loop - It iterate over a sequence of elements like string, tulips, or lists.
- `while` Loop - It executes a block block of code until the condition is met.

In [11]:
# for loop
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [24]:
# Iterate over a range
for i in range(5):  # This runs from 0 to 4
    print(f"Iteration {i}")

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

In [28]:
# while loop
x = 1
while x < 6:
    print(f"Value of x: {x}") # Here code will be executed until the x becomes equal to or greater than 6. 
    x += 1

Value of x: 1
Value of x: 2
Value of x: 3
Value of x: 4
Value of x: 5

In [30]:
# There is also another type of loop known as nested loops
# Create a multiplication table
for i in range(1, 4):  # Outer loop
    for j in range(1, 4):  # Inner loop
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9